//colours
$main-color: #0091b9;
$secondary-color: #BAE4F0;
$tertiary-color: #004E9B;
$quaternary-color: #FF6500;
$quinary-color: #FFD500;

//text
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$text_primary: #2c2c2c;

//
.header-container{
    margin: 0 auto;
    padding: 0px;
    font-family: $font-family_1;
    min-height: 0vh;
    color: $text_primary;
    display: flex;
    justify-content: center;
    align-items: center;
}