<section class="chapter">
    <h1>TypeScript’s Type System</h1>
  
    <section class="lesson-block">
      <h2>Item 1: Understand the Relationship Between TypeScript and JavaScript</h2>
      <p>
        TypeScript is a superset of JavaScript. Here is an example:
      </p>
  
      <app-code-example
      sectionTitle="TypeScript Function Example"
      language="typescript"
      [code]="codeExample2">
      </app-code-example>
    

  
      <p>
        This code will not run directly in JavaScript because of the type annotation <code>: string</code>.
      </p>
    </section>
  </section>
  