<!-- <h1>Effective TypeScript</h1>
<div>
<a routerLink="chapter1"> chapter 1</a>
</div>

<div>
<a routerLink="chapter2"> chapter 2</a>
</div>

<div>
    <a routerLink="chapter3"> chapter 3</a>
</div>

 -->
<!-- 

<h1>Effective TypeScript</h1>



<div>
  <a routerLink="{ outlets: { dashboard: ['chapter1'] } }">Chapter 1</a>
</div>

<div>
  <a routerLink="{ outlets: { dashboard: ['chapter2'] } }">Chapter 2</a>
</div>

<div>
  <a routerLink="[{ outlets: { sidepanel: ['chapter3'] } }">Chapter 3</a>
</div>  -->


  <div class="main-content">
    <app-dashboard>Dashboard </app-dashboard>
    <div  class="app-container">
      <app-sidepannel></app-sidepannel>
    </div>
  </div>
  
  <router-outlet></router-outlet>