<div class="header-container">
  <header>Chapter 1</header>
</div>

<section class="chapter-1">
  <h1>Getting to Know TypeScript</h1>

  <section class="lesson-block">
    <h2>
      Item 1: Understand the Relationship Between TypeScript and JavaScript
    </h2>
    <p>TypeScript is a superset of JavaScript. Here is an example:</p>

    <app-code-example
      sectionTitle="TypeScript Function Example"
      language="typescript"
      [code]="codeExample1"
    >
    </app-code-example>

    <p>
      This code will not run directly in JavaScript because of the type
      annotation<code>: string</code>.
    </p>
  </section>
</section>
